.header {
  height: 53px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    .hStart {
    }
    .hEnd {
      .nav {
        display: flex;
        align-items: center;
        gap: 24px;
        .navItem {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 2px;
          cursor: pointer;
          span,
          svg {
            @include transition(0.3s);
          }
          &:hover {
            span,
            svg {
              color: $primary;
            }
          }
          span {
            font-size: 12px;
            font-weight: 500;
          }
          svg {
            font-size: 26px;
          }
          @media (max-width: $sm-media) {
            span {
              font-size: 11px;
              font-weight: 400;
            }
            svg {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
